---
import Layout from './Default.astro';
import BlogPostLayout from '@components/blog/BlogPostLayout.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

interface Props {
  author: string;
  pubDate: Date;
  headings: unknown;
  description: string;
  title: string;
}

const { author, pubDate, headings, description, title } = Astro.props;
---

<Layout title={title} description={description} ogImage={ogImage} classList="bg-[#f4ffe6]">
  <main class="px-4 sm:px-6 py-6 sm:py-8 md:py-12 mx-auto w-full max-w-[90rem]">
    <BlogPostLayout {pubDate} {author} {title}>
      <slot />
    </BlogPostLayout>
  </main>
</Layout>
