---
import Layout from './Default.astro';
import BlogPostLayout from '@components/blog/BlogPostLayout.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

interface Props {
  author: string;
  pubDate: Date;
  headings: unknown;
  description: string;
  title: string;
}

const { author, pubDate, headings, description, title } = Astro.props;
---

<Layout title={title} description={description} ogImage={ogImage}>
  <main class="p-6 flex justify-center">
    <div class="w-full max-w-3xl">
      <BlogPostLayout {pubDate} {author} {title}>
        <slot />
      </BlogPostLayout>
    </div>
  </main>
</Layout>
